<div class="list">
  <ul>
    <li *ngFor="let item of dataSource; let i = index" class="font-italic " >
      <span class="{{ (item.completed ? 'done' : '') }}">{{ item.name }}</span>
      <button (click)="handleDelete(i)" class="delete">
        <i class="ti-trash"></i>
      </button>
      <button (click)="handleCompeleted(i)" class="completed">
        <i class="ti-check"></i>
      </button>

    </li>
  </ul>
</div>
